extends ./layout

block content
  .row
    .col-md-12
      h1
        | Welcome to #{applicationName}
      p.lead
        | This is a playground application for the Node Microservices course on LinkedIn Learning.